/* .u-hidden { display: none !important; } */

/* pcサイズ
@media screen and (min-width: 796px) {
  .u-hidden-pc {
    display: none !important;
  }
} */

/* spサイズ
@media screen and (max-width: 795px) {
  .u-hidden-sp {
    display: none !important;
  }
} */

/* .u-mb-10 { margin-bottom: 10px !important; } */
