/* カラーやフォント設定 */

/* Noto Sansの詳細 */
.noto-sans-custom {
  /* フォントの種類 */
  /* sans-serif はフォールバックフォントで、'Noto Sans' が利用できない場合にサンセリフフォント（Arial, Helvetica など）を適用 */
  font-family: 'Noto Sans', sans-serif;
  /* 光学サイズ調整 */
  /* 可変フォントの場合はauto、それ以外はnone(調整無効) */
  font-optical-sizing: auto;
  /* フォントの太さ */
  font-weight: normal; /* 適宜変更 */
  /* フォントのスタイル */
  font-style: normal;
  /* 可変フォントの軸 */
  /* 'wdth' 100は標準 */
  font-variation-settings: 'wdth' 100;
}

/* ●以下参考
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    color: #333;
    background-color: #f9f9f9;
} */
